.navbar {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #f0efe9;
  justify-content: center;
  align-items: center;
}

.contactInfo {
  display: flex;
  flex-direction: row;
}
.contacts {
  padding-left: 20px;
}

.loginButton {
  width: 122px;
  height: 48px;
  border-color: transparent;
  border-radius: 40px;
  background: #f9d783;
}

.loginButton:hover {
  background-color: #ebc259;
  cursor: pointer;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
