.body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.messagingBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1320px;
  height: 766px;
  background: #f0efe9;
}
.messagingTitle {
  width: 447px;
  height: 105px;

  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
  line-height: 55px;
  font-style: normal;
  text-align: center;
  color: #191919;
}
