.cardBody {
  width: 420px;
  height: 206px;
  display: flex;
  flex-direction: row;
  border-color: rgba(25, 25, 25, 0.2);
  border-width: 1px;
  border-style: solid;
  background: #ffffff;
  margin-left: 1%;
}
.rightSide {
  display: flex;
}
.leftSide {
  display: flex;
  flex-direction: column;
  margin-left:2%;

}
.cardTitle {
  width: 240px;
  height: 30px;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
}
.cardSub {
  width: 216px;
  height: 50px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: normal;
  line-height: 28px;
  font-style: normal;
  text-align: left;
  color: rgba(25, 25, 25, 0.8);
}

.Icon {
  width: 60px;
  height: 60px;
}
