.messagingForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.messagingForm input,
.messagingForm textarea {
  padding: 8px 20px;
}

.namn {
  width: 1021px;
  height: 56px;
  border-radius: 40px;
  border: none;
  background: #ffffff;
}

.email {
  width: 1021px;
  height: 56px;
  border-radius: 40px;
  border: none;
  background: #ffffff;
}

.message {
  width: 1021px;
  height: 160px;
  border-radius: 40px;
  border: none;
  background: #ffffff;
}

.sendButton {
  width: 1021px;
  height: 56px;
  border-radius: 40px;
  border-color: transparent;
  background: #f9d783;
}
